<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>640011743687-f2i58kan63a5ievua13lvo97206bp5lr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640011743687-f2i58kan63a5ievua13lvo97206bp5lr</string>
	<key>API_KEY</key>
	<string>AIzaSyCTJNoG0anQVyE9SyWPz-MF-KlS8pv6HfM</string>
	<key>GCM_SENDER_ID</key>
	<string>640011743687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Steve-Graff.RecSportSwim</string>
	<key>PROJECT_ID</key>
	<string>recsportswim</string>
	<key>STORAGE_BUCKET</key>
	<string>recsportswim.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:640011743687:ios:5bd2027a4d0c87c7</string>
	<key>DATABASE_URL</key>
	<string>https://recsportswim.firebaseio.com</string>
</dict>
</plist>